*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: white;
    --dark-gray: #393939;
    --orange: #CDA177;

    --trans: 0.5s all ease;

}

@font-face {
    font-family: 'Monserat-B';
    src: url(../../assets/font/Montserrat-Bold.ttf);
}

header{
    width: 100%;
    height: 15vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .center_header{
        width: 80%;
        height: 80%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .image_log{
            width: 10vw;
            height: auto;

            cursor: pointer;
            text-decoration: none;

            img{
                width: 100%;
                height: 100%;
            }
        }

        nav{
            width: 55%;
            height: 100%;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            a{
                font-family: 'Monserat-B';
                color: var(--dark-gray);
                font-size: 16px;
                text-decoration: none;
                transition: var(--trans);

                &:hover{
                    color: var(--orange);
                }
            }
        }

        .contact_call{
            width: max-content;
            height: 100%;

            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 1vw;
            align-items: center;

            a{
                font-family: 'Monserat-B';
                color: var(--dark-gray);
                font-size: 16px;
                text-decoration: none; 
            }
        }


    }
}